@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #555555;
}

h2, h5 {
    font-family: 'Playfair Display', serif;
}

.session {padding: 80px 0;}

.color-primary {color: #003B0F;}
.color-secondary {color: #A5CD38;}
.color-light {color: #fff;}

a.color-light:hover, a.color-primary:hover {color: #A5CD38;}
a.color-secondary:hover {color: #003B0F;}

.bg-primary {background-color: #003B0F !important;}
.bg-secondary {background-color: #A5CD38 !important;}
.bg-gray {background-color: #F8F8F8;}

.font-40 {font-size: 40px;}
.font-35 {font-size: 35px;}
.font-30 {font-size: 30px;}
.font-25 {font-size: 25px;}
.font-20 {font-size: 20px;}
.font-18 {font-size: 18px;}
.font-16 {font-size: 16px;}
.font-14 {font-size: 14px;}
.font-13 {font-size: 13px;}

.text-semibold {font-weight: 600;}

.navbar .nav-link {
    font-size: 15px;
    color: #003B0F !important;
}
.navbar .nav-link:hover, .footer .nav-link:hover {color: #A5CD38 !important;}
.navbar .nav-link.active {font-weight: 600;}

.btn-outline-primary {
    border: 1px solid #003B0F;
    color: #003B0F;
}

.btn-outline-secondary {
    border: 1px solid #A5CD38;
    color: #A5CD38;
}

.btn {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
}

.btn.bg-primary:hover {background-color: #A5CD38 !important;}
.btn.bg-secondary:hover {background-color: #8bac31 !important;}

.btn-outline-primary:hover, .btn-outline-secondary:hover {
    background-color: #A5CD38;
    border: 1px solid #A5CD38;
    color: #003B0F;
}

.avaliacao {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    padding: 25px;
}

.social {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #003B0F;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-caption {
    text-align: start;
    width: 600px;
    bottom: 250px;
}
.carousel-caption h5 {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}
.carousel-caption h1 {
    font-size: 120px;
    line-height: 1;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.carousel-caption p {
    font-size: 18px;
    font-weight: 300;
}
.nav-pills .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #003B0F;
    background-color: #A5CD38;
}

.card .card-img-overlay {
    background: linear-gradient(0deg, rgba(0, 59, 15, 0.5), rgba(0, 59, 15, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer .nav-link {
    font-size: 14px;
    padding: 0.5rem 0rem;
    color: #fff;
}
.footer .social {
    border-radius: 50%;
    background-color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .session {padding: 50px 0;}
    .navbar-collapse {
        text-align: center;
        padding: 35px 0;
    }

    .carousel-caption h1 {font-size: 60px;}
    .carousel-caption {
        width: 65%;
        text-align: center;
    }
}